/*EJERCICIO 4
rascacielos{
	background-color: greenyellow;
	text-transform: capitalize;
}
resumen{
	font-size: 3em;
}

edificio{
	display: block;
}

nombre{
	font-weight: bold;
}
ciudad:before{
	content: "(";
}
ciudad:after{
	content: ")";
}

/*EJERCICIO 5*/

resumen{
	font-size: 3.5em;
	text-transform: uppercase;
}
rascacielos{
	background-color: skyblue;
}
edificio{
	display: list-item;
	margin-left: 3em;
}
ciudad{
	font-style: italic;
}
altura, pisos, completado{
	display: list-item;
	margin-left: 1em;
	list-style-type: circle;
}