.idea
out
dist
*.iml
/Programación/3evaluacion/boletines/Boletin33/Boletin33/nbproject/private/
/Programación/3evaluacion/boletines/Boletin33/Boletin33/build/
/Programación/3evaluacion/boletines/Boletin34/Boletin34/nbproject/private/
/Programación/3evaluacion/boletines/Boletin34/Bol23/nbproject/private/
/Programación/3evaluacion/boletines/Boletin34/Boletin34/build/
