.idea
out
dist
COD/entregas/Singleton
COD/entregas/VariosBranchs
.iml
/Programación/boletines extras/DiaDeLaSemana/build/
/Programación/boletines extras/DiaDeLaSemana/nbproject/private/
/Programación/boletines/Boletin16/Boletin16/build/
/Programación/boletines/Boletin17/Boletin17/nbproject/private/
/Programación/boletines extras/bolExtra3/bolExtra3/nbproject/private/
/Programación/boletines extras/bolExtra3/bolExtra3/build/
/Programación/boletines/Boletin17/Boletin17/build/
