/*tituloCatalogo, titulo, director, actor{
	display: block;
}
tituloCatalogo:first-letter{
	font-size: 2em;
}
pelicula director{
	margin-left: 20px;
}
pelicula actor{
	padding-left: 40px;}
primero titulo{
	color: red;
}
pelicula{
	display: block;
	margin-top: 2px;
	border: 2px solid green;
}
pelicula#a{
	background-color: lightblue;
}
pelicula#a titulo{
	background-color: yellow;
}
#a actor{
	background-color: red;
}
*//*
tituloCatalogo{
	display: block;
	text-decoration: underline;
}
titulo{
	margin-left: 3em;
	list-style-type: none;
}

catalogo{
	counter-reset:contador;
}

titulo:before{
	content: counter(contador,decimal)". ";
	counter-increment: contador;
}
director, actor{
	margin-left: 5em;
	display: list-item;
	list-style-type: upper-alpha;
	list-style-position: inside;
}*/

peliculas{
	display: table;
	display: table-row;
	display: table-cell;
}