table,th,td{
  border: 1px solid yellow;
  border-collapse: collapse;
  text-align: center;
}

h1#tabla{
  text-align:center;
  text-transform: uppercase;
  text-decoration: underline;
}

table{
  margin: auto;
}

td{
  padding: 30px;
  font-style: italic;
  color: orangered;
  font-weight:bold;
  background-color:cyan;
}
th{
  font-size:2em;
  background-color:blue;
  color: red;
}
